@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.3s;
}

.hollow {
  color: transparent;
  -webkit-text-stroke: 2px #177e89;
  -webkit-font-smoothing: antialiased;
}

.glass {
  /* filter: blur(75px); */
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(75px);
  backdrop-filter: blur(75px);
}
